<%- include("../partials/header") %>
<link rel="stylesheet" type="text/css" href="/stylesheets/new.css">

<div class="container border rounded">

	<form action="/blogs" method="POST">
		<h3>Create a blog</h3>


		<div class="form-group">
			<label for="title">Title of blog</label>
			<input required type="text" class="form-control" name="blog[title]" id="title" placeholder="Blog's title">
		</div>

		<div class="form-group">
			<label>Blog content</label>
			<textarea required name="blog[content]" class="form-control" placeholder="Speak your mind"></textarea>
		</div>

		<div class="form-group form-check">
			<input type="checkbox" class="form-check-input" id="imageCheck">
			<label class="form-check-label" for="imageCheck">I would like to provide my own thumbnail</label>
			<p class="noShow">
				<label for="thumbnail">Enter an image url</label>
				<input class="form-control" type="url" name="blog[image]" id="thumbnail">
			</p>
		</div>

		<button type="submit" class="btn btn-dark border border-white">Create</button>

	</form>

</div>

<script>
	let box = document.querySelector("#imageCheck");
	let input = document.querySelector(".noShow");
	box.addEventListener("click", () => {
		input.classList.toggle("noShow");
	});

	let button = document.querySelector(".btn-dark");
	button.addEventListener("mouseenter", () => {
		this.classList.remove("border-white");
		this.classList.add("border-dark");
	});
	button.addEventListener("mouseleave", () => {
		this.classList.remove("border-dark");
		this.classList.add("border-white");
	});
</script>

<%- include("../partials/footer") %>