.container{
	margin: auto;
	width: 65%;
	padding: 0;
	color: black;
}
.card{
	margin-bottom: 16px;
}

a .btn-dark{
	margin: 0;
	display: inline-block;
}

.jumbotron{
	margin:0 auto;
	width: 65%;
	background-color: #187eb5;
}


img .card-image-top{
    object-fit: cover;
}

span{
	float: right;
}


